@use "../base" as *;

#aboutus {
    h3 {
        font-size: map-get($fontsize , h3);
    }

    .aboutus {
        p.p-subtitle {
            font-size: map-get($fontsize, para-subtitle);
        }

        i.fa {
            font-size: map-get($fontsize, fa-about);

        }
        p.fa-subtitle{
            font-size: map-get($fontsize , fa-subtitle );
        }
        p.p-about{
            font-size: map-get($fontsize , para);
        }
    }


}