@forward 'header';
@forward 'aboutthecompony';
@forward 'jumbotron';
@forward 'contact';
@forward 'pricinng';
@forward 'team';
@forward 'main';
@forward 'footer';
// @forward "button";
@forward "card";